In [ ]:
# My Final Assignment

# My Final Assignment

# My Final Assignment

In [ ]:
# Introduction to My Notebook

# hello and welcome to my Final Assignment Notebook

# Introduction to My Notebook

# hello and welcome to my Final Assignment Notebook

# Introduction to My Notebook

# hello and welcome to my Final Assignment Notebook

In [ ]:
# List of Data Science Languages 
### Python
### R
### SQL
### Julia

# List of Data Science Languages 
### Python
### R
### SQL
### Julia

# List of Data Science Languages 
### Python
### R
### SQL
### Julia

In [ ]:
#### List of Data Science Libraries 
##### Numpy
##### Pandas 
##### Scikit-learn
##### Tensorflow 
##### Kera

#### List of Data Science Libraries 
##### Numpy
##### Pandas 
##### Scikit-learn
##### Tensorflow 
##### Kera

#### List of Data Science Libraries 
##### Numpy
##### Pandas 
##### Scikit-learn
##### Tensorflow 
##### Kera

In [ ]:
| No.  | DataScience Tasks  |              Tools              |  No.    |  Data Science Tasks support     |      Tools       |
|:----:| :---------------:  | :-----------------------------: | :-----: | :-----------------------------: | :--------------: |
| 1.   | Data Management    |    MySQL,Apachespark,Hadoop     |   1.    |  Code Asset Management          |   Git,GitHub     | 
|      |                    |                                 |         |                                 |                  |
| 2.   | Data Integration   |          Apache Airflow,        |   2.    |  Development Environments       |    Jupyter       |
|      | and Transformation |            Apache Kafka         |         |                                 |    Notebooks     |
|      |                    |                                 |         |                                 |     RStudio      |
| 3.   | Data Visualization |      Cognos Analytics,Tableau   |         |                                 |                  |

| No.  | DataScience Tasks  |              Tools              |  No.    |  Data Science Tasks support     |      Tools       |
|:----:| :---------------:  | :-----------------------------: | :-----: | :-----------------------------: | :--------------: |
| 1.   | Data Management    |    MySQL,Apachespark,Hadoop     |   1.    |  Code Asset Management          |   Git,GitHub     | 
|      |                    |                                 |         |                                 |                  |
| 2.   | Data Integration   |          Apache Airflow,        |   2.    |  Development Environments       |    Jupyter       |
|      | and Transformation |            Apache Kafka         |         |                                 |    Notebooks     |
|      |                    |                                 |         |                                 |     RStudio      |
| 3.   | Data Visualization |      Cognos Analytics,Tableau   |         |                                 |                  |

In [ ]:
1. **Addition:**
Example: 5 + 5 = 10

1. **Addition:**
Example: 5 + 5 = 10

In [ ]:
2. **Subtraction:**
Example: 5 - 4 = 1

2. **Subtraction:**
Example: 5 - 4 = 1

In [ ]:
3. **Multiplication:**
   Example: 2 * 8 = 16

3. **Multiplication:**
   Example: 2 * 8 = 16

In [ ]:
4. **Division:**
ExampleE: 10 / 5 = 2

4. **Division:**
Example: 10 / 5 = 2

In [5]:
#Create a code cell to multiply and add numbers

In [6]:
(10*5)+2

52

In [1]:
# Create a code cell to convert minutes to hours
# Given: 60 minutes is equal to 1 hour
minutes = 60
conversion_factor = 1 / 60  # Conversion factor: 1 hour = 60 minutes
hours = minutes * conversion_factor  

print("Given relationship:")
print("60 minutes =", 1, "hour\n")

print("Conversion from minutes to hours:")
print(f"{minutes} minutes is equal to {hours:.1f} hours using the formula: (minutes * 1) / 60")

#Example
minutes = 120
hours = (minutes * 1) / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

Given relationship:
60 minutes = 1 hour

Conversion from minutes to hours:
60 minutes is equal to 1.0 hours using the formula: (minutes * 1) / 60
120 minutes is equal to 2.00 hours

# Introduction to My Notebook
## Objectives
### 1. Title of the Notebook
### 2. Introduction
### 3. Data Science Languages
### 4. Data Science Libraries
### 5. Data Science Tools Table
### 6. Arithmetic Expression 
### 7. Code Cell: Multiply and Add Numbers
### 8. Create a code cell to convert minutes to hours

# Introduction to My Notebook
## Objectives
### 1. Title of the Notebook
### 2. Introduction
### 3. Data Science Languages
### 4. Data Science Libraries
### 5. Data Science Tools Table
### 6. Arithmetic Expression 
### 7. Code Cell: Multiply and Add Numbers
### 8. Create a code cell to convert minutes to hours

# Author 
## Pekky

# Author 
## Pekky